/* Pseudo Elements - After and Before */

.row:after {
    content: "";
    clear: both;
    display: block;
}

.row {
    background-color: lightgray;
}

.col {}

.col-1 {
    float: left;
    background-color: lightblue;
    width: 30%;
}

.col-2 {
    /* float: left; */
    float: right;
    width: 40%;
    background-color: lightcoral;
}

.blank {
    clear: both;
}

.div_1 {
    background-color: lightgreen;
}