body {
    background-color: transparent;
    margin: 0px;
}


/* @media(max-width:1200px) {
    body {
        background-color: transparent;
    }
} */


/* @media(min-width:1200px) {
    body {
        background-color: lightblue;
    }
} */

@media(max-width:1200px) and (min-width:992px) {
    body {
        background-color: lightblue;
    }
}

#header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

h1 {
    margin: 0px;
}

.row {
    display: flex;
    justify-content: space-between;
}

#main-nav {
    padding-top: 10px;
}

#main-nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#main-nav ul li {
    margin: 0px 15px;
}

#main-nav ul li a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.search {
    padding-top: 8px;
}

.menu-btn {
    display: none;
    background-color: transparent;
    border: none;
    pointer-events: none;
    position: fixed;
    z-index: 100;
    right: 30px;
}

.menu-btn .line {
    width: 30px;
    display: block;
    height: 3px;
    background-color: #fff;
    margin-bottom: 4px;
    transition: 1s;
}

.checkbox {
    position: fixed;
    width: 30px;
    display: block;
    right: 34px;
    opacity: 0;
    z-index: 1000;
}

@media(max-width:1200px) {
    h1 {
        font-size: 24px;
    }
    #main-nav {
        padding-top: 5px;
    }
}

@media(max-width:992px) {
    .row {
        flex-wrap: wrap;
    }
    .search {
        width: 100%;
    }
    input[type='text'] {
        width: 80%;
    }
}

@media(max-width:768px) {
    .menu-btn {
        display: block;
    }
    #main-nav ul {
        display: block;
        /* position: absolute; */
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        transform: translateX(-100%);
        transition: 1s;
        text-align: center;
    }
    #main-nav ul li {
        margin: 20px 0px;
    }
    #main-nav .checkbox:checked~ul {
        /* display: block; */
        transform: translateX(0%);
    }
    #main-nav .checkbox:checked+.menu-btn .line:nth-child(2) {
        transform: translateX(200px);
    }
    #main-nav .checkbox:checked+.menu-btn .line:first-child {
        transform: rotate(45deg);
    }
    #main-nav .checkbox:checked+.menu-btn .line:last-child {
        transform: rotate(-45deg);
        margin-top: -14px;
    }
}

#parent {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.col {
    background-color: lightgray;
    border: 2px solid red;
    padding: 10px;
    /* margin: 0px 10px; */
    /* width: 100%; */
}

img {
    width: 100%;
}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 40%;
}

.col-3 {
    width: 20%;
}

@media(max-width:768px) {
    .col-1,
    .col-3 {
        display: none;
    }
    .col-2 {
        width: 100%;
    }
}

.list_1 {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list_1 li {
    background-color: lightcoral;
    height: 200px;
    border: 2px solid;
    width: 30%;
    margin: 10px 0px;
}

@media(max-width:768px) {
    .list_1 li {
        width: 45%;
    }
}

@media(max-width:480px) {
    ul {
        /* display: block; */
    }
    .list_1 li {
        width: 95%;
    }
}